@import '../theme/variables.scss';

a.block-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;

    padding: $spacing-large;
    border: $spacing-extra-small solid $gray;
    margin-bottom: $spacing-large;

    color: #000000;
    font-weight: 400;
    word-break: break-all;
    word-break: break-word;

    transition-property: border-color, background-color, color;
    transition-duration: 0.1s;

    >i {
        margin-right: $spacing-medium;
    }

    &:hover,
    &:active {
        border-color: $blue;
        background-color: $blue;
        color: #ffffff;
    }
}

.block-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    >a.block-link {
        margin-right: $spacing-large;
    }
}

@media (max-width: 950px) {
    .block-links {
        flex-direction: column;
        width: 100%;

        >a.block-link {
            margin-right: 0;
        }
    }
}