@import "../theme/variables.scss";

.slide-show {
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    cursor: pointer;
    padding: $spacing-medium;
    margin: 0;

    border: $spacing-extra-small solid;
    transition-property: border-color, background-color, color;
    transition-duration: 0.1s;

    height: calc(#{$font-size-extra-large} + #{$spacing-medium} * 2);
    width: calc(#{$font-size-extra-large} + #{$spacing-medium} * 2);
    flex-shrink: 0;

    > i {
      font-size: $font-size-large;
    }

    &:first-child {
      margin-right: $spacing-large;
    }
    &:last-child {
      margin-left: $spacing-large;
    }

    @media (max-width: 950px) {
      &:first-child {
        margin-right: $spacing-small;
      }
      &:last-child {
        margin-left: $spacing-small;
      }
    }
  }

  .slide-container {
    position: relative;
    top: 0;
    left: 0;

    height: 100%;

    flex-grow: 1;

    .slide {
      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;

      transform: rotateY(-180deg);
      opacity: 0;

      transition-duration: 0.6s;
      transition-property: transform, opacity;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .slide-image {
        flex-grow: 1;
        width: 100%;
        min-height: 0;

        object-fit: contain;

        $check-size: $spacing-medium;

        @include checkers($spacing-medium, #dddddd, #ffffff);
      }
      .slide-caption {
        padding: $spacing-medium;
        font-weight: 700;
        text-align: center;

        @media (max-width: 950px) {
          font-size: $font-size-small;
        }
      }
    }

    .slide[data-active="true"] {
      transform: rotateY(0deg);
      opacity: 1;
    }
  }
}
