@import "../../theme/variables.scss";

.column {
  &#intro {
    background-color: $extra-light-green;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      text-align: left;
      font-family: "Indie Flower", sans-serif;
      font-weight: 300;
      font-size: $font-size-xxx-large;
      color: $green;
      line-height: 1;
    }
  }

  &#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &.feature {
    padding: 0;
    position: relative;
    top: 0;
    left: 0;

    .slide-show {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &.rocketmakers {
      background-color: $rm-laforge-extra-light;

      .slide-show {
        button {
          border-color: $rm-laforge;
          background-color: $rm-laforge;
          color: white;
          &:hover {
            background-color: white;
            color: $rm-laforge;
          }
        }

        .slide > .slide-caption {
          background-color: $rm-laforge;
          color: white;
        }
      }
    }

    &.spicerack {
      background-color: $sr-red-extra-light;

      .slide-show {
        button {
          border-color: $sr-red;
          background-color: $sr-red;
          color: white;
          &:hover {
            background-color: white;
            color: $sr-red;
          }
        }

        .slide > .slide-caption {
          background-color: $sr-red;
          color: white;
        }
      }
    }
  }

  &#articles {
    background-color: $blue;
    border-color: white;
    color: white;

    h3 {
      text-align: left;
    }

    .block-links {
      flex-direction: column;

      > a.block-link {
        margin-right: 0;

        background-color: $blue;
        color: white;
        border-color: white;

        &:hover,
        &:active {
          background-color: white;
          color: $blue;
        }
      }
    }
  }

  &.job {
    .employer-logo {
      height: 65px;
      max-width: 100%;
    }

    h3 {
      font-weight: 700;
      text-align: left;
      margin: 0;
      margin-top: $spacing-large;

      > i {
        margin-right: $spacing-medium;
      }
    }
    p.dates {
    }
  }
}
