@import '../../theme/variables.scss';

.shell {
    min-height: 100%;
    width: 100%;

    padding-top: $header-height;

    .header {
        position: fixed;
        top: 0;

        background-color: $blue;

        height: $header-height;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 1;

        transition: 0.2s height, 0.2s background-color;

        >h1 {
            color: white;
            margin: 0;
            font-size: 1.25rem;
            font-weight: 700;

            transition: 0.2s font-size;

            >i {
                margin-right: $size-medium;
            }
        }

        &[data-scrolled=true] {
            background-color: $dark-blue;
            height: 30px;

            > h1 {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 950px) {

}