@import "../../theme/variables.scss";

.shell {
  min-height: 100%;
  width: 100%;

  padding-top: $header-height;

  .header {
    position: fixed;
    top: 0;

    background-color: $green;

    height: $header-height;
    width: 100%;

    box-shadow: $box-shadow-standard;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;

    transition-duration: 0.2s;
    transition-property: height, background-color;

    > h1 {
      color: white;
      margin: 0;
      font-size: $font-size-large;
      font-weight: 700;

      transition: 0.2s font-size;

      display: flex;
      flex-direction: row;
      align-items: center;

      > .logo {
        height: $font-size-large;
        width: $font-size-large;
        margin-right: $spacing-medium;

        transition-duration: 0.2s;
        transition-property: height, width, margin-right;
      }
    }

    &[data-scrolled="true"] {
      height: 30px;

      > h1 {
        font-size: $font-size-medium;
        > .logo {
          width: $font-size-medium;
          height: $font-size-medium;
          margin-right: $spacing-small;
        }
      }
    }
  }
}

@media (max-width: 950px) {
}
