@import "./keyframes.scss";
@import "./fonts.scss";
@import "./variables.scss";

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;

    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    margin: 0;
}

#root {
    min-height: 100%;
}

p, li {
    font-size: $font-size-large;
    margin: 0;
    margin-bottom: $spacing-large;
}

h2 {
    font-size: $font-size-extra-large;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: $spacing-large;
}

a.inline-link {
    color: #138CBF;
    text-decoration: underline;
    font-weight: 400;
}

.spider-text {
    font-size: $font-size-small;
    margin: 0;
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
}

table {
    border-collapse: collapse;
    font-size: $font-size-large;
    margin-bottom: $spacing-large;

    thead {
        font-weight: 700;
    }

    tbody {
        font-weight: 300;
    }

    td {
        padding: $spacing-medium;
    }

    tr.emphasis {
        font-weight: 400;
    }
}

// move this into a politics style sheet!
.politics + * {
    table {        
        thead {
            background-color: #BF1D3D;
            color: #FFFFFF;
        }

        tbody {
            tr {
                &:nth-child(even) {
                    background-color: #FFF2F5;
                }
            }
        }
    }
}

@media (max-width: 950px) {
    body,
    #root {
        min-height: 100%;
        height: auto;
    }
}