// Brand colours

$green: #0e8c73;
$extra-light-green: hsl(166, 100%, 95%);
$dark-green: hsl(168, 82%, 20%);

$blue: hsl(198, 82%, 41%);
$extra-light-blue: hsl(198, 82%, 95%);
$dark-blue: hsl(198, 82%, 30%);

$light-gray: #f0f0f0;
$gray: #888888;

// External brand colours

// - Rocketmakers

$rm-laforge: hsl(34, 93%, 65%);
$rm-laforge-extra-light: hsl(34, 93%, 90%);

// - Spicerack

$sr-red: hsl(9, 85%, 31%);
$sr-red-extra-light: hsl(9, 85%, 90%);

// Spacing

$spacing-extra-large: 50px;
$spacing-large: 20px;
$spacing-medium: 10px;
$spacing-small: 5px;
$spacing-extra-small: 1px;

// Font sizes

$font-size-small: 0.9rem;
$font-size-medium: 1rem;
$font-size-large: 1.3rem;
$font-size-extra-large: 1.5rem;

// Misc

$header-height: 50px;

$box-shadow-standard: -$spacing-extra-small $spacing-extra-small $spacing-small
  0 rgba(0, 0, 0, 0.25);
