$primary: hsl(344, 100%, 45%);
$primary-light-1: hsl(344, 100%, 70%);
$primary-light-2: hsl(344, 100%, 95%);
$primary-dark-1: hsl(344, 100%, 30%);

$size-extra-large: 50px;
$size-large: 20px;
$size-medium: 10px;
$size-small: 5px;

$headerHeight: 65px;

$shadow-small-dark: 0 0 $size-small 0 rgba(0, 0, 0, 0.5);