@import url('https://fonts.googleapis.com/css?family=Cabin|Inconsolata');

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
}

body, #root {
    display: flex;
    flex-flow: column;

    font-family: 'Inconsolata', monospace;

    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

p, li {
    font-size: 1.3rem;
    margin: 0;
    margin-bottom: 1.3rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 2.6rem;
}

.header {
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;

    transition-property: background-color;
    transition-duration: 0.25s;

    z-index: 1;

    padding: 10px;
}

.header.work {
    background-color: #0E8C73;
}

.header.politics {
    background-color: #BF1D3D;
}

.header>a.header-main {
    display: flex;
    align-items: center;

    color: #ffffff;
    text-decoration: none;

}

.header>a.header-main>.logo {
    float: left;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.header>a.header-main>.logo>path {
    fill: #ffffff;
}

.header>.header-main>div>h1 {
    margin: 0;
    font-size: 1rem;
}

.header>.header-main>div>.sub-heading {
    font-size: 0.85rem;
}

.header>nav>a {
    color: #ffffff;
    text-decoration: none;

    padding: 20px;
    margin-left: 1rem;

    transition-property: color, background-color, box-shadow;
    transition-duration: 0.1s;

    margin: -10px;
}

.header.work>nav>a:hover {
    background-color: #13BF9D;
}

.header.politics>nav>a:hover {
    background-color: #FF2652;
}

.column-layout {
    flex-grow: 1;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 0;
}

.column-one,
.column-two {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 475px;
}

.politics .column-one {
    background-color: #FFF2F5;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 50px;
}

.work .column-one {
    background-color: #F2FFFC;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 50px;
}

.block-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a.inline-link {
    text-decoration: underline;
}

a.block-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;

    padding: 1.3rem;
    border: 1px solid #888888;
    border-radius: 10px;
    margin-right: 1.3rem;
    margin-bottom: 1.3rem;

    color: #000000;
    word-break: break-all;
    word-break: break-word;

    transition-property: border, background-color, color;
    transition-duration: 0.1s;
}

a.block-link>i {
    margin-right: 1rem;
}

a.inline-link {
    color: #138CBF;
}

a.block-link:hover {
    border: 1px solid #138CBF;
    background-color: #138CBF;
    color: #ffffff;
}

.spider-text {
    font-size: 0.9rem;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.column-two {
    display: flex;
    flex-direction: column;
}

.features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    flex-grow: 1;
}

.features>.feature {
    display: block;
    height: 150px;
    width: 150px;
    margin: 30px;
}

.features>.feature>img {
    width: 100%;
    height: 100%;

    object-fit: contain;

    opacity: 0;
    animation: fade-in 1.25s;
    animation-fill-mode: forwards;
}

.article {
    max-width: 1024px;
    padding: 3rem;
    margin: auto;
}

.article .article-meta {
    text-align: center;
    font-size: 1rem;
    font-style: italic;

    margin-bottom: 2.6rem;
}

.article img {
    float: right;
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin: 1.3rem;
    max-width: 100%;
}

@media (max-width: 950px) {
    body,
    #root {
        min-height: 100%;
        height: auto;
    }

    .header>.header-main>div>.sub-heading {
        display: none;
    }

    /* .header>.header-main>.logo {
        height: 50px;
        width: 50px;
    }

    .header>.header-main>div>h1 {
        font-size: 1.5rem;
    }

    .header>.header-main>div>.sub-heading {
        font-size: 0.9rem;
        font-weight: normal;
    } */

    .column-layout {
        flex-direction: column;
        flex-wrap: nowrap;
        min-height: auto;
    }

    .column-one,
    .column-two {
        flex-basis: auto;
        flex-shrink: 0;

        min-width: 0;
        max-width: 100%;
        max-height: none;
    }

    .column-one {
        padding: 15px;
    }

    .block-links {
        flex-direction: column;
    }

    a.block-link {
        flex-grow: 1;
        margin-right: 0;
    }

    .article img {
        float: none;
        width: 400px;
        height: 400px;
        object-fit: contain;
        margin: 1.3rem auto;
        display: block;
    }
}