@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
}

body, #root {
    display: flex;
    flex-flow: column;

    font-family: 'Open Sans', sans-serif;

    width: 100%;
    height: 100%;
    margin: 0;
}

.header {
    background-color: #F8F8F8;

    padding: 15px;
    width: 100%;
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;

    z-index: 1;
}

.header>.logo {
    float: left;
    height: 60px;
    width: 60px;
    margin-right: 15px;
}

h1 {
    margin: 0;
}

.column-layout {
    flex-grow: 1;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 0;
}

.column-one,
.column-two {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 475px;
}

.column-one {
    background-color: #F2FFFC;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 50px;
}

.column-one>.content p {
    font-size: 1.3rem;
    margin: 0;
    margin-bottom: 1.3rem;
}

.block-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block-links>a.block-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;

    padding: 1.3rem;
    border: 1px solid #888888;
    border-radius: 10px;
    margin-right: 1.3rem;
    margin-bottom: 1.3rem;

    color: #000000;
    word-break: break-word;

    transition-property: border, background-color, color;
    transition-duration: 0.1s;
}

a.inline-link {
    color: #0E8C73;
    text-decoration: underline;
}

.block-links>a.block-link>i {
    margin-right: 1rem;
}

.block-links>a.block-link:hover {
    border: 1px solid #0E8C73;
    background-color: #0E8C73;
    color: #ffffff;
}

.spider-text {
    font-size: 0.9rem;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.column-two {
    display: flex;
    flex-direction: column;
}

.features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    flex-grow: 1;
}

.features>.feature {
    display: block;
    height: 150px;
    width: 150px;
    margin: 30px;
}

.features>.feature>img {
    width: 100%;
    height: 100%;

    object-fit: contain;

    opacity: 0;
    animation: fade-in 1.25s;
    animation-fill-mode: forwards;
}

@media (max-width: 950px) {
    body,
    #root {
        min-height: 100%;
        height: auto;
    }

    .header>.logo {
        height: 50px;
        width: 50px;
    }

    .header>div>h1 {
        font-size: 1.5rem;
    }

    .header>div>.sub-heading {
        font-size: 0.9rem;
        font-weight: normal;
    }

    .column-layout {
        flex-direction: column;
        flex-wrap: nowrap;
        min-height: auto;
    }

    .column-one,
    .column-two {
        flex-basis: auto;
        flex-shrink: 0;

        min-width: 0;
        max-width: 100%;
        max-height: none;
    }

    .column-one {
        padding: 15px;
    }

    .block-links {
        flex-direction: column;
    }

    .block-links>a.block-link {
        flex-grow: 1;
        margin-right: 0;
    }
}